* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-areas: 
  'n f'
  'n d';
  grid-template-columns: 20% 80%;
}

nav {
  grid-area:n;
	display: flex;
	flex-direction: column;
	font-family: 'open sans';
	background-color: #1f1f3d;
	height: 100%;
}

h1 {
	border-bottom: 1px solid #a9aad2;
	color: #fff;
	font-family: 'open sans', bold;
	font-size: 1.6em;
  padding: 0px 18px 18px 18px;
}

.nav__label--star {
  padding-left: 10px;
}

.nav__input--quality {
	height: 40px;
  width: 90%;
	margin: 0px 0px 15px 10px;
}

.nav__btn--quality:hover {
	background-color: #d14119;
	display: block;
	border-left: 3px solid #f58e72;
}

.nav__btn--quality {
	color: #fff;
	list-style-type: none;
	margin: 10px 0px;
	background-color: #1F1F3D;
	border: none;
  padding-left: 10px;
	text-align: left;
	font-weight: 300;
}

.nav__label {
	color: #bfbfdd;
	font-family: 'open sans', light;
	text-align: left;
	font-size: 1em;
	margin: 15px 10px 10px;
}

.nav__btn {
	background-color: #5356a4;
	border-color: #353567;
	color: #e9e9f3;
	margin: 15px 10px;
	width: 90%;
	height: 45px;
  font-size: 1.2em;
}

.nav__form--top {
	align-content: center;
	border-bottom: 1px solid #a9aad2;
	display: flex;
	flex-direction: column;

}

.nav__form--bottom {
	align-content: center;
	border-bottom: 1px solid #a9aad2;
	display: flex;
	flex-direction: column;
  padding: 10px;
}
  /*top-section*/

.top__section {
  background-color: #A9AAD2;
  grid-area: f;
}

.top__form--top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.top__label--input {
  width: 45%;
  text-align: left;
}

.top__input {
  width: 45%;
  border: 1.2px solid #5356A4;
  margin: 10px;
}

.top__label {
  color: #1F1F3D;
  font-weight: bold;
  margin-top: 15px;
  font-size: larger;
}

.top__textarea--body {
  height: 100px;
}

.top__input--title {
  height: 50px;
}

.top__btn--save {
  background-color: #1F1F3D;
  border: 1px solid #1F1F3D;
  color: #FFF;
  height: 50px;
  margin: 10px 0;
  text-align: center;
  width: 45%;
}

.top__search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 20px;
}

.top__input--search {
  border: 1.2px solid #5356A4;
  height: 50px;
  padding-left: 10px;
  width: 40%;
}

.top__img--search {
  background-color: #1F1F3D;
  border: 1.2px solid #5356A4;
  height: 50px;
  padding: 5px;
  width: 5%;
  border-right: 1px solid #1F1F3D;
}

/*idea cards*/

.card__section--bottom{
  background-color: #eaeaf4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-area: d;
  height: 90vh;
}

.card__main--card {
  background-color: white;
  border: 1px solid #1f1f3d;
  height: 300px;
}

.card {
  height: 370px;
  width: 28%;
  margin: 20px;
}

header {
  background-color: #1f1f3d;
}

header,
footer {
  color: white;
  display: flex;
  justify-content: space-between;
}

.delete,
.card__img--card {
  height: 35px;
}
/*
.goldStar {
  background-image: url('star-active.svg');
}*/

header img, 
footer img,
footer p {
  margin: .2em;
}

.card__footer--quality {
  font-size: 1.4em;
  padding-top: 5px;
}

.card__h2--title {
  font-size: 24px;
}

.card__text {
  padding: 17px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.card__p--body {
  font-size: 22px;
  width: 95%;
}

footer {
  background-color: #5356a4;
  font-weight: 700;
  font-size: 12px;
}

.card__div--statement {
  height: 370px;
  width: 28%;
  margin: 20px;
  border: 1px dotted black;
  font-size: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hidden {
 display: none;
}

