* {
  box-sizing: border-box;
  /*border: 2px solid pink;*/
}

body {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-areas: 
  'n f'
  'n d';
  grid-template-columns: 20% 80%;
}

nav {
  grid-area:n;
	display: flex;
	flex-direction: column;
	font-family: 'open sans';
	background-color: #1f1f3d;
	height: 100%;
}

h1 {
	border-bottom: 1px solid #a9aad2;
	color: #fff;
	font-family: 'open sans', bold;
	font-size: 17px;
	vertical-align: center;
	padding: 15px;
}

.nav__input--quality {
	height: 35px;
  width: 90%;
	margin: 15px 10px;
}

.nav__btn--quality:hover {
	background-color: #d14119;
	display: block;
	border-left: 3px solid #f58e72;
}

.nav__btn--quality {
	color: #fff;
	list-style-type: none;
	align-content: left;
	margin: 5px 0px;
	background-color: #1F1F3D;
	border: none;
	text-align: left;
	font-weight: 300;
}

.nav__label {
	color: #bfbfdd;
	font-family: 'open sans', light;
	text-align: left;
	font-size: 14px;
	margin: 10px;
}

.nav__btn {
	background-color: #5356a4;
	border-color: #353567;
	color: #e9e9f3;
	margin: 15px 10px;
	width: 90%;
	height: 40px;
}

.nav__form--top {
	align-content: center;
	border-bottom: 1px solid #a9aad2;
	display: flex;
	flex-direction: column;

}

.nav__form--bottom {
	align-content: center;
	border-bottom: 1px solid #a9aad2;
	display: flex;
	flex-direction: column;
	margin: 2%;
}
  /*top-section*/

.section__form--top {
  background-color: #A9AAD2;
  /*height: 42vh;*/
  /*width: 80%;*/
  grid-area:f;

}

.build-card_form--top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.build-card_form {
  width: 40%;
  text-align: left;
}

.card-build_input {
  border: 1.2px solid #5356A4;
  /*box-shadow: 1px 1px 1px #5356A4;*/
  margin: 10px;
}

.card-build_label {
  color: #1F1F3D;
  font-weight: bold;
  margin-top: 15px;
}

.card-build_title {
  height: 40px;
}

.save-btn {
  background-color: #1F1F3D;
  border: 1px solid #1F1F3D;
  color: #FFF;
  height: 40px;
  margin: 10px 0;
  text-align: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 20px;
}

.search-input {
  border: 1.2px solid #5356A4;
  /*box-shadow: 1px 1px 1px #5356A4;*/
  height: 40px;
  width: 35%;
  padding-left: 10px;

}

.search-img {
  border: 1.2px solid #5356A4;
  /*box-shadow: 1px 1px 1px #5356A4;*/
  height: 40px;
  width: auto;
  border-right: 1px solid #1F1F3D;
}

/*idea cards*/

.section__display--bottom{
  background-color: #eaeaf4;
  grid-area: d;
  height: 90vh;
}

article {
  background-color: white;
  border: 1px solid #1f1f3d;
  margin: 20px;
  width: 25%;
}

header,
footer {
  background-color: #1f1f3d;
  color:white;
  display: flex;
  justify-content: space-between;
}

header img, 
footer img,
footer p {
  margin: .2em;
}

footer p {
  padding-top: 5px;
}

div h2 {
  font-size: 16px;
}

.card-text {
  padding: 5px;
}

div p {
  font-size: 12px;
  height: 100px;
}

footer {
  background-color: #5356a4;
  font-weight: 700;
  font-size:12px;
}

